// -------------------------------
// OBJECTS
// -------------------------------

// Responsive iFrame -------------

.iframe-container {
  height: 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// Card --------------------------
// Basically a reusable panel that
// sits behind anything.
// -------------------------------

.card {
  padding: 3.5rem 0;
  @media #{$medium-up} {
    border-radius: $global-radius;
  }
  h2 {
    margin-top: 0;
  }
}

.card--large {
  margin: 1.5rem 0;
}

.card--light {
  background-color: lighten($jazz-color, 43%);
  color: $body-color;
  h2 {
    color: $heading-base-color;
  }
}

.card--dark {
  background-color: $slate-color;
  color: lighten($slate-color, 40%);
  h2 {
    color: white;
  }
}

.card--jazz {
  background-color: $primary-color;
  color: lighten($primary-color, 30%);
  h2 {
    color: white;
  }
  .button--primary {
    background: $secondary-color;
    &:focus,
    &:hover {
      background: lighten($secondary-color, 10%);
    }
  }
}


// Slash List --------------------
// List component with little sla-
// shes in between items.
// -------------------------------

.slash-list {
  display: flex;
  flex-wrap: wrap;
  li {
    align-items: center;
    display: flex;
    font-size: .75rem;
    line-height: 1.2;
    &:not(:last-of-type) {
      margin-right: 15px;
      &:after {
        color: darken($border-color, 10%);
        content: '/';
        font-size: 1.1rem;
        font-weight: normal;
        left: 7px;
        position: relative;
        top: -2px;
      }
    }
  }
  a {
    text-decoration: none;
  }
}

.slash-list--large {
  li {
    font-size: .85rem;
    line-height: 1.4;
  }
}

.slash-list--secondary {
  color: lighten($heading-base-color, 25%);
  a {
    color: lighten($heading-base-color, 25%);
    &:hover,
    &:focus {
      color: lighten($heading-base-color, 25%);
    }
  }
}

.slash-list--bold {
  font-weight: 600;
}

.slash-list__title {
  @extend %sans;
  font-size: .6rem;
  line-height: 1;
  margin-bottom: .2rem;
}

// Popover -----------------------
// Component that looks like a
// tooltip, but has more info in
// it.
// -------------------------------

.popover {
  background-color: white;
  border: 1px solid rgba($body-color, .2);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba($body-color, .15);
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 110%;
  transition: opacity .15s ease-in-out;
  z-index: 100;
  @media #{$medium-up} {
    left: auto;
    right: 0;
  }
  .header-search__title {
    background-color: #F2F2F2;
    color: $heading-base-color;
    @extend %sans;
    font-size: .7rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    padding: .6rem 1.2rem;
    position: sticky;
    top: 0;
  }
  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }
  .search-results-list {
    a {
      display: block;
      padding: .35rem 1.2rem;
      text-decoration: none;
      &:hover,
      &:focus {
        background-color: rgba($body-color, .03);
      }
    }

    h3 {
      @extend %sans;
      font-size: .75rem;
      font-weight: 600;
      margin: 0;
      text-transform: none;
    }

    .pubdate {
      color: lighten($body-color, 25%);
      display: block;
      font-size: .7rem;
      font-weight: normal;
    }

    p,
    .light-text {
      color: lighten($body-color, 25%);
      font-size: .75rem;
      padding: .5rem 1.2rem;
    }
  }
}

.popover--medium {
  @media #{$medium-up} {
    width: 500px;
  }
}

.popover--search {
  max-height: 500px;
  min-height: 180px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  @media #{$medium-up} {
    max-height: 250px;
  }
}

.popover__shadow {
  background: linear-gradient(rgba(white, .0), white);
  bottom: 0;
  height: 40px;
  margin-top: -20px;
  pointer-events: none;
  position: sticky;
}


// -----------------------------------------
// CARBON AD STYLES
// -----------------------------------------

.bc-ad-container {
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 425px !important;
  width: 90%;
  .post & {
    margin-bottom: 0;
  }

  @media #{$medium-up} {
    margin-bottom: -2rem;
    margin-top: 6rem;
  }
}

.carbon-wrap {
  align-items: center;
  background-color: #F2F2F2;
  border-radius: $global-radius;
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 130px minmax(auto, 247px);
  padding: 1rem;
  a {
    color: $body-color;
    text-decoration: none;
  }
}

.carbon-img {
  display: block;
}

.carbon-text {
  display: block;
  font-size: .8rem;
  line-height: 1.5;
  text-align: left;
  @media #{$medium-up} {
    font-size: .75rem;
    margin-top: .5rem;
  }
}

.carbon-poweredby {
  color: #555;
  display: block;
  font-size: .65rem;
  line-height: 1;
  margin-top: .5rem;
  right: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
