// -------------------------------
// TABLES
// -------------------------------

table {
  border: 1px solid $border-color;
  border-collapse: collapse;
  font-family: $font-code;
  font-size: $ratio-1;
  margin: 1.8rem auto;
  width: 90%;

  tbody tr:nth-child(odd) {
    background-color: lighten($border-color, 4%);
  }
}

thead th {
  color: $body-color;
  font-weight: 600;
  min-width: 90px;
}

th,
td {
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding: 0.5rem 0.8rem;
}
