// -------------------------------
// BASE
// -------------------------------

body {
  background-color: $primary-color;
}

svg {
  max-width: 100%;
}

// -------------------------------
// HIDE
// -------------------------------

.screen-reader-hide {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
