// -----------------------------------------
// BITS
// -----------------------------------------

// COLORS ------------------------
$primary-color: #f30f4c;
$secondary-color: #212836;

// TEXT COLOR --------------------
// $body-color: #444;
$body-color: lighten($secondary-color, 25%);
$heading-base-color: $body-color;
$light-text-color: lighten($body-color, 17%);
$highlight-color: #fffedb;
$link-color: #0881b3;
$link-underline: lighten(saturate($link-color, 10%), 40%);

// BG AND BORDER COLORS ----------
$border-color: lighten($secondary-color, 70%);
$light-bg-color: lighten($secondary-color, 78%);

// GLOBAL RADIUS
$global-radius: 2px;

// -----------------------------------------
// MEDIA QUERIES
// -----------------------------------------

$small-only: 'screen and (max-width: 39.9375em)';
$medium-up: 'screen and (min-width: 40em)';
$medium-only: 'screen and (min-width: 40em) and (max-width: 63.9375em)';
$large-up: 'screen and (min-width: 64em)';
$large-only: 'screen and (min-width: 64em) and (max-width: 74.9375em)';
$large-up: 'screen and (min-width: 64em)';
$xlarge-up: 'screen and (min-width: 90.063em)';
$xlarge-only: 'screen and (min-width: 90.063em) and (max-width: 120em)';
$xxlarge-up: 'screen and (min-width: 120.063em)';

// -----------------------------------------
// TYPOGRAPHY
// -----------------------------------------

$font-text: Whitney SSm A, Whitney SSm B, system, -apple-system,
  BlinkMacSystemFont, Avenir, sans-serif;
$font-small: Whitney SSm SmallCaps A, Whitney SSm SmallCaps B, system,
  -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
$font-display: Whitney A, Whitney B, system, -apple-system, BlinkMacSystemFont,
  Avenir, sans-serif;
$font-display-2: Mercury Display A, Mercury Display B, serif;
$font-code: Operator SSm A, Operator SSm B, Operator Mono, monospace;

// -----------------------------------------
// SPACING RATIO
// -----------------------------------------

$magic-number: 1.55;

$ratio: 1rem;

$ratio-1: $ratio / 1.35;
$ratio-2: $ratio / $magic-number;
$ratio-3: $ratio-2 / $magic-number;

$ratio1: $ratio * $magic-number;
$ratio2: $ratio1 * $magic-number;
