// -------------------------------

pre {
  font-family: Operator Mono, monospace;
  line-height: 1.5;
  overflow-x: auto;
  white-space: pre;
  code {
    background: none;
    padding: 0;
  }
}

code {
  background: lighten(#f5f5f5, 1%);
  border-radius: 3px;
  color: #bf616a;
  font-family: Operator Mono, monospace;
  font-size: $ratio;
  line-height: 1.5;
  padding: 1px 3px;
  white-space: pre;
  pre & {
    color: inherit;
  }
  @media #{$medium-up} {
    font-size: $ratio;
  }
  a & {
    color: inherit;
  }
}

pre.highlight {
  border-radius: $global-radius;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
  padding: 1rem;
}

.highlight .hll {
  background-color: #4f5b66;
}
pre.highlight {
  background: #2b303b;
  color: darken(#eff1f5, 15%);
}
.highlight .c {
  color: #65737e;
} /* Comment */
.highlight .err {
  color: #bf616a;
} /* Error */
.highlight .k {
  color: #b48ead;
} /* Keyword */
.highlight .l {
  color: #d08770;
} /* Literal */
.highlight .n {
  color: darken(#eff1f5, 15%);
} /* Name */
.highlight .o {
  color: #96b5b4;
} /* Operator */
.highlight .p {
  color: darken(#eff1f5, 15%);
} /* Punctuation */
.highlight .cm {
  color: #65737e;
} /* Comment.Multiline */
.highlight .cp {
  color: #65737e;
} /* Comment.Preproc */
.highlight .c1 {
  color: #65737e;
} /* Comment.Single */
.highlight .cs {
  color: #65737e;
} /* Comment.Special */
.highlight .gd {
  color: #bf616a;
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gh {
  color: darken(#eff1f5, 15%);
  font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
  color: #a3be8c;
} /* Generic.Inserted */
.highlight .gp {
  color: #65737e;
  font-weight: bold;
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #96b5b4;
  font-weight: bold;
} /* Generic.Subheading */
.highlight .kc {
  color: #b48ead;
} /* Keyword.Constant */
.highlight .kd {
  color: #b48ead;
} /* Keyword.Declaration */
.highlight .kn {
  color: #96b5b4;
} /* Keyword.Namespace */
.highlight .kp {
  color: #b48ead;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #b48ead;
} /* Keyword.Reserved */
.highlight .kt {
  color: #ebcb8b;
} /* Keyword.Type */
.highlight .ld {
  color: #a3be8c;
} /* Literal.Date */
.highlight .m {
  color: #d08770;
} /* Literal.Number */
.highlight .s {
  color: #a3be8c;
} /* Literal.String */
.highlight .na {
  color: #8fa1b3;
} /* Name.Attribute */
.highlight .nb {
  color: darken(#eff1f5, 15%);
} /* Name.Builtin */
.highlight .nc {
  color: #ebcb8b;
} /* Name.Class */
.highlight .no {
  color: #bf616a;
} /* Name.Constant */
.highlight .nd {
  color: #96b5b4;
} /* Name.Decorator */
.highlight .ni {
  color: darken(#eff1f5, 15%);
} /* Name.Entity */
.highlight .ne {
  color: #bf616a;
} /* Name.Exception */
.highlight .nf {
  color: #8fa1b3;
} /* Name.Function */
.highlight .nl {
  color: darken(#eff1f5, 15%);
} /* Name.Label */
.highlight .nn {
  color: #ebcb8b;
} /* Name.Namespace */
.highlight .nx {
  color: #8fa1b3;
} /* Name.Other */
.highlight .py {
  color: darken(#eff1f5, 15%);
} /* Name.Property */
.highlight .nt {
  color: #96b5b4;
} /* Name.Tag */
.highlight .nv {
  color: #bf616a;
} /* Name.Variable */
.highlight .ow {
  color: #96b5b4;
} /* Operator.Word */
.highlight .w {
  color: darken(#eff1f5, 15%);
} /* Text.Whitespace */
.highlight .mf {
  color: #d08770;
} /* Literal.Number.Float */
.highlight .mh {
  color: #d08770;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #d08770;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #d08770;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #a3be8c;
} /* Literal.String.Backtick */
.highlight .sc {
  color: darken(#eff1f5, 15%);
} /* Literal.String.Char */
.highlight .sd {
  color: #65737e;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #a3be8c;
} /* Literal.String.Double */
.highlight .se {
  color: #d08770;
} /* Literal.String.Escape */
.highlight .sh {
  color: #a3be8c;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #d08770;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #a3be8c;
} /* Literal.String.Other */
.highlight .sr {
  color: #a3be8c;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #a3be8c;
} /* Literal.String.Single */
.highlight .ss {
  color: #a3be8c;
} /* Literal.String.Symbol */
.highlight .bp {
  color: darken(#eff1f5, 15%);
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #bf616a;
} /* Name.Variable.Class */
.highlight .vg {
  color: #bf616a;
} /* Name.Variable.Global */
.highlight .vi {
  color: #bf616a;
} /* Name.Variable.Instance */
.highlight .il {
  color: #d08770;
} /* Literal.Number.Integer.Long */
