---
layout: default
title: The Archive
custom_css_class: archives
exclude_from_search: true
---

<div class="page p-body">
  <header class="page__header page__header--full">
    <h1 class="page-header__title">The Archive</h1>
    <p class="page-header__description">This site has been published since 2013. If you know the exact post you’re looking for, I recommend you search. You can
      also browse the
      <a href="/topics/">Topics page</a> to find something that interests you.</p>
  </header>

  {% for post in site.posts  %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
  <section class="post__section {{ this_year }}-posts">
    <h2 class="post-section__title" id="{{ this_year }}">{{this_year}}</h2>
    <ul class="archive__posts">
  {% endif %}

    <li class="post">
      <a href="{{ post.url }}">
        <span class="post__date">{{ post.date | date: "%a, %b %d, %Y" }}</span>
        {{ post.title | smartify | widont }}
      </a>
  </li>

  {% if forloop.last %}
    </ul>
  </section>
  {% else %}
    {% if this_year != next_year %}
    </ul>
    </section>
    <section class="post__section {{ next_year }}-posts">
    <h2 class="post-section__title" id="{{ next_year }}">{{next_year}}</h2>
    <ul class="archive__posts">
    {% endif %}
  {% endif %}
{% endfor %}

</div>
