---
layout: default
exclude_from_search: true
custom_css_class: home
excerpt: Brightly Colored is a personal blog written by Tim Smith about design, development, technology, Apple, and whatever else he finds himself curious about.
---
<section class="posts">
  {% for post in site.posts %}
    {% capture post_date %}{{ post.date | date: "%A, %B %d, %Y" }}{% endcapture %}
    {% assign current_date = site.posts.first.date | date: "%A, %B %d, %Y" %}

    {% if post_date == current_date %}

      {% if forloop.first %}
        <div class="posts__date">
          <span class="current-day">{{ post_date }}</span>
        </div>
      {% endif %}

      <div class="day-posts">
        <article class="posts__post p-body format-{% if post.custom_type %}{{ post.custom_type }}{% endif %}">
          {% if post.custom_type == 'post' %}
          <header class="post__header">
            <h1>
              <a href="{{ post.url }}">{{ post.title | smartify | widont }}</a>
            </h1>
            {% if post.subtitle %}
            <h2 class="post__subtitle">{{ post.subtitle | smartify | widont }}</h2>
            {% endif %}

            {% include movie-info.html %}
          </header>
        
          {{ post.content | improve }}

        {% elsif post.custom_type == 'link' %}
          <header class="post__header">
            <h1>
              <a href="{{ post.link_url }}">{{ post.title | smartify | widont }}</a>
              <span class="arrow">&rarr;</span>
            </h1>
          </header>
        
          {{ post.content | improve }}

          <small class="post__permalink">
            <a href="{{ post.url }}" title="Permalink for {{ post.title }}">Permalink</a>
          </small>
        {% endif %}

          <footer class="post__footer">
            {% include tags.html %}
          </footer>

        </article>
      </div>

    {% endif %}
  {% endfor %}
</section>
