---
layout: default
exclude_from_search: true
custom_css_class: home
excerpt: Brightly Colored is a personal blog written by Tim Smith about design, development, technology, Apple, and whatever else he finds himself curious about.
pagination:
  enabled: true
---


<section class="posts">
  {% for post in paginator.posts %}
    {% capture current_day %}{{ post.date | date: "%b·%d·%Y" }}{% endcapture %}

    {% if current_day != previous_day %}
      {% unless forloop.first %}
        </div>
      {% endunless %}

      <span class="current-day">{{ current_day }}</span>
      <div class="day-posts">

      {% assign previous_day = current_day %}
    {% endif %}
    <article class="posts__post p-body format-{% if post.custom_type %}{{ post.custom_type }}{% endif %}">
      {% if post.custom_type == 'post' %}
        <header class="post__header">
          <h1><a href="{{ post.url }}">{{ post.title | smartify }}</a></h1>
          {% if post.subtitle %}
            <h2 class="post__subtitle">{{ post.subtitle | smartify }}</h2>
          {% endif %}
        </header>

        {{ post.content | improve }}

      {% elsif post.custom_type == 'link' %}
        <header class="post__header">
          <h1><a href="{{ post.link_url }}">{{ post.title | smartify }}</a><span class="arrow">&rarr;</span></h1>

          <small class="post__meta">
            <a href="{{ post.url }}">&infin; Permalink</a>
          </small>
        </header>

        {{ post.content | improve }}
      {% endif %}
    </article>
    {% if forloop.last %}
    </div>
    {% endif %}
  {% endfor %}
</section>

{% if paginator.total_pages > 1 %}
<ul class="pagination">
  <li>
    <a class="button button--primary button--paginate" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" {% unless paginator.previous_page %}disabled{% endunless %}>Newer</a>
  </li>
  <li>
    <a class="button button--primary button--paginate" href="{{ paginator.next_page_path | prepend: site.baseurl }}" {% unless paginator.next_page %}disabled{% endunless %}>Older</a>
  </li>
</ul>
{% endif %}
