// -------------------------------
// BASE
// -------------------------------

body {
  background-color: $jazz-color;
}

.site__container {
  max-width: 1400px;
  position: relative;

  @media #{$medium-up} {
    display: grid;
    grid-template-columns: 170px 1fr;
    margin-left: auto;
  }
  @media #{$large-up} {
    grid-template-columns: 200px 1fr;
    width: 98%;
  }
  @media #{$xlarge-up} {
    margin-right: auto;
    width: 100%;
  }
}

svg {
  max-width: 100%;
}

// -------------------------------
// HIDE
// -------------------------------

.screen-reader-hide {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
