// -------------------------------
// BASE
// -------------------------------

body {
  background-color: $secondary-color;
}

.site__container {
  max-width: 1400px;

  @media #{$large-up} {
    display: grid;
    grid-template-columns: 170px auto;
    margin-left: auto;
    width: 97%;
  }
  @media #{$xlarge-up} {
    grid-template-columns: 220px auto;
    margin-right: auto;
    width: 100%;
  }
}

svg {
  max-width: 100%;
}

// -------------------------------
// HIDE
// -------------------------------

.screen-reader-hide {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
