
// -------------------------------
// BITS
// -------------------------------


// COLORS ------------------------
$primary-color: #fe5858;
$secondary-color: #19365e;

$header-text-color: lighten($secondary-color, 50%);
$header-footer-color: desaturate(darken($header-text-color, 20%), 30%);

$body-color: desaturate(lighten($secondary-color, 20), 30);
$dark-color: $body-color;

$link-color: $primary-color;
$jazz-color: #508FAB;
$border-color: desaturate(lighten($secondary-color, 70), 30);
$brand-color: #F88962;
$slate: #383C40;


// SPACING -----------------------
$spacing-xxs: .3rem;
$spacing-xs: .5rem;
$spacing-s: 1rem;
$spacing-m: 1.5rem;
$spacing-l: 2rem;
$spacing-xl: 2.5rem;

// Other -------------------------
$global-radius: 3px;
