
// -------------------------------
// BITS
// -------------------------------


// COLORS ------------------------
$primary-color: #35B1B4;
$secondary-color: #452F50;
$body-color: desaturate(lighten($secondary-color, 10), 10%);
$dark-color: darken($body-color, 5%);
$link-color: $primary-color;
$jazz-color: #508FAB;
$border-color: desaturate(lighten($secondary-color, 70), 25);
$light-bg-color: lighten($border-color, 5%);
$brand-color: $primary-color;
$slate: $secondary-color;
$footer-text-color: desaturate(lighten($secondary-color, 25%), 20%);


// SPACING -----------------------
$spacing-xxs: .3rem;
$spacing-xs: .5rem;
$spacing-s: 1rem;
$spacing-m: 1.5rem;
$spacing-l: 2rem;
$spacing-xl: 2.5rem;

// Other -------------------------
$global-radius: 3px;
