// -------------------------------
// OBJECTS
// -------------------------------

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  @media #{$medium-up} {
    max-width: 768px;
  }
  @media #{$large-up} {
    max-width: 1000px;
  }
  @media #{$xxlarge-up} {
    max-width: 1300px;
  }
}

svg {
  width: 100%;
}

iframe {
  margin: 1rem 0;
  width: 100%;
}

// Responsive iFrame -------------

.iframe-container {
  height: 0;
  margin-bottom: 3rem;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// Card --------------------------
// Basically a reusable panel that
// sits behind anything.
// -------------------------------

.card {
  padding: 2.5rem 0;
  @media #{$medium-up} {
    border-radius: $global-radius;
  }
  h2 {
    margin-top: 0;
  }
}

.card--large {
  margin: 1.5rem 0;
}

.card--light {
  background-color: $border-color;
  color: darken($border-color, 40%);
  h2 {
    color: darken($border-color, 40%);
  }
}

.card--dark {
  background-color: $slate;
  color: lighten($slate, 40%);
  h2 {
    color: white;
  }
}

.card--jazz {
  background-color: $primary-color;
  color: lighten($primary-color, 20%);
  h2 {
    color: white;
  }
  .button--primary {
    background: $secondary-color;
    &:focus,
    &:hover {
      background: lighten($secondary-color, 10%);
    }
  }
}

// Post List ---------------------
// Componenet to show a list of
// posts wherever.
// -------------------------------

.post-list {
  li {
    line-height: 1.3;
    margin-bottom: .4rem;
    a {
      text-decoration: none;
    }
  }
}

.post-list--small {
  li {
    font-size: .9rem;
  }
}

.post-list--mini {
  li {
    font-size: .8rem;
  }
}


.post-list--inline {
  @media #{$medium-up} {
    display: flex;
    justify-content: space-between;
    li + li {
      margin-left: .5rem;
    }
  }
}

// Popover -----------------------
// Component that looks like a
// tooltip, but has more info in
// it.
// -------------------------------

.popover {
  background-color: white;
  border: 1px solid rgba($body-color, .13);
  border-radius: 3px;
  box-shadow: 0 0 5px rgba($body-color, .1);
  opacity: 0;
  padding: .8rem 1.2rem 0;
  position: absolute;
  right: 1.5rem;
  top: 60px;
  transition: opacity .15s ease-in-out;
  z-index: 100;
  pointer-events: none;
  .header-search__title,
  h3 {
    font-size: 1rem;
    margin-bottom: .5rem;
    margin-top: 0;
  }
  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  .search-results-list h3 {
    @extend %sans;
    font-size: .8rem;
    font-weight: 600;
  }

  .search-results-list .pubdate {
    font-size: .7rem;
  }
}

.popover--medium {
  width: 500px;
}

.popover--search {
  max-height: 500px;
  min-height: 180px;
  overflow: scroll;
}

.popover__shadow {
  background: linear-gradient(rgba(white, .0), white);
  bottom: 0;
  height: 40px;
  position: sticky;
}

// Slash List --------------------
// List component with little sla-
// shes in between items.
// -------------------------------

.slash-list {
  display: flex;
  flex-wrap: wrap;
  li {
    align-items: center;
    display: flex;
    line-height: 1.2;
    font-size: .75rem;
    &:not(:last-of-type) {
      margin-right: 15px;
      &:after {
        color: darken($border-color, 10%);
        content: '/';
        font-size: 1.1rem;
        font-weight: normal;
        left: 7px;
        position: relative;
      }
    }
  }
  a {
    text-decoration: none;
  }
}

.slash-list--large {
  li {
    line-height: 1.3;
    font-size: .85rem;
  }
}

.slash-list--secondary {
  color: lighten($dark-color, 25%);
  a {
    color: lighten($dark-color, 25%);
    &:hover,
    &:focus {
      color: lighten($dark-color, 25%);
    }
  }
}

.slash-list--bold {
  font-weight: 600;
}

.slash-list__title {
  @extend %sans;
  font-size: .6rem;
  line-height: 1;
  margin-bottom: .2rem;
}
