{% assign author = site.data.authors[page.author] %}
<header class="author author--single">
  <img src="//gravatar.com/avatar/{{ author.gravatar}}?s=500" alt="Picture of {{ author.display_name }}" class="author__picture" height="200" width="200" />
  <h1 id="page-title" class="author__name">{{ author.display_name }}</h1>
  <h2 class="author__title">{{ author.title | markdownify | remove: '<p>' }}</h2>

  <p class="author__bio">{{ author.bio | markdownify | remove: '<p>'  | remove: '</p>' }}</p>
    
  {% include author-profiles.html %}
</header>
