<!DOCTYPE html>
  <html>
    <head>
      <!--
      How much does a polar bear weigh? Just enough to break the ice.

      Made with love in beautiful Saint Paul, Minnesota.
      Brightly Colored © 2013—{{ site.time | date: "%Y" }} Anythin’ Goes and Timothy B. Smith.
      -->

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{% if page.title %}{{ page.title }} :: {% endif %}{{ site.name }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <link href="/apple-touch-icon.png" rel="apple-touch-icon">

      <!-- DNS Prefetch -->
      <link rel="dns-prefetch" href="https://cloud.typography.com" />

      <!-- Other Important Meta Info -->
      <link rel="canonical" href="https://brightlycolored.org{{ page.url }}" />
      <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}" />

      <!-- Facebook Article Info -->
      <meta property="og:url" content="https://brightlycolored.org{{ page.url }}" />
      {% if page.custom_type %}
        <meta property="og:type" content="article" />
      {% endif %}
      <meta property="og:title" content="{{ page.title }}" />
      <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}" />
      <meta property="og:image" content="https://brightlycolored.org/{% if page.featured_image %}{{ page.featured_image }}{% else %}brightlycolored-avatar.png{% endif %}" />
      <meta property="og:site_name" content="Brightly Colored" />
      <meta property="og:url" content="https://brightlycolored.org{{ page.url }}" />
      <meta property="og:title" content="{% if page.title %}{{ page.title }}{% endif %}" />
      <meta property="fb:app_id" content="1777213929243354" />


      <!-- Twitter Info -->
      {% if page.featured_image %}
        <meta name="twitter:card" content="summary_large_image">
      {% else %}
        <meta name="twitter:card" content="summary" />
      {% endif %}
      <meta name="twitter:site" content="@brightlycolord" />
      <meta name="twitter:title" content="{{ page.title }}" />
      <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}" />
      <meta name="twitter:image" content="https://brightlycolored.org/{% if page.featured_image %}{{ page.featured_image }}{% else %}brightlycolored-avatar.png{% endif %}" />

      <!-- Micro.blog Verification -->
      <link href="https://micro.blog/smith" rel="me" />

      <!-- RSS Feeds -->
      <link rel="alternate" type="application/rss+xml" title="Master Feed for Brightly Colored" href="https://feedpress.me/brightlycolored" />
      <link rel="alternate" type="application/rss+xml" title="Articles-Only Feed for Brightly Colored" href="https://feedpress.me/brightlycolored-articles" />

      <style>
        {% asset 'global' %}
        {% if page.custom_css %}
          {% asset '{{ page.custom_css}}' %}
        {% endif %}
      </style>

      <script> 
        var siteThemes = ['theme-001.css', 'theme-002.css', 'theme-003.css', 'theme-004.css'];
        var siteTheme = siteThemes[Math.floor(Math.random() * siteThemes.length)];
        document.write('<link rel="stylesheet" href="/themes/' + siteTheme + '">');  
      </script>

      <!-- preload the fonts -->
      <link as="style" href="https://cloud.typography.com/6973314/6893552/css/fonts.css" onload="this.rel='stylesheet'" rel="preload" />

      <!-- non-JS fallback -->
      <noscript>
        <link href="https:///cloud.typography.com/6973314/6893552/css/fonts.css" media="screen" rel="stylesheet" type="text/css" />
      </noscript>

      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
    <!-- Don't read the source like a caveperson! It's all on GitHub: https://github.com/smithtimmytim/brightlycolored.org  -->
