<header class="header" role="banner">

  <div class="site__branding">
    <a href="/" class="logo">
      {% include icons/icon-logo.html %}
    </a>
    <p class="header__byline"><span class="caps">A web-column by Timothy B. Smith</span></p>
  </div>

  <nav id="navigation" class="site__navigation">
    <ul class="navigation">
      <li><a href="/about/">About</a></li>
      <li><a href="/topics/">Topics</a></li>
      <li><a href="/subscribe/">Subscribe</a></li>
      <li><a href="/styleguide/">Style Guide</a></li>
    </ul>

    {% unless page.url == '/search/' %}
      {% include search-form.html %}
    {% endunless %}   
  </nav>
</header>
