{% if page.rating %}
  <div class="movie__info">
    {% include star-rating.html %}
    <span>
      <strong>Directed by</strong>
      {{ page.director }}
    </span>
    <span>
      <strong>MPAA Rating</strong>
      <span class="mpaa-rating">{{ page.mpaa_rating }}</span>
    </span>
    {% if page.genres.size > 0 %}
      <span>
        <strong>Genre</strong>
        {% assign sortedGenres = page.genres | sort %}
        {% for genre in sortedGenres %}
          {% if forloop.last %}
            {{ genre | titlecase }}
          {% else %}
            {{ genre | titlecase }},
          {% endif %}
        {% endfor %}
      </span>
    {% endif %}
  </div>
{% endif %}
{% if post.rating %}
  <div class="movie__info">
    {% include star-rating.html %}
    <span>
      <strong>Directed by</strong>
      {{ post.director }}
    </span>
    <span>
      <strong>MPAA Rating</strong>
      <span class="mpaa-rating">{{ post.mpaa_rating }}</span>
    </span>
    {% if post.genres.size > 0 %}
      <span>
        <strong>Genre</strong>
        {% assign sortedGenres = post.genres | sort %}
        {% for genre in sortedGenres %}
          {% if forloop.last %}
            {{ genre | titlecase }}
          {% else %}
            {{ genre | titlecase }},
          {% endif %}
        {% endfor %}
      </span>
    {% endif %}
  </div>
{% endif %}
