<!-- Post Meta -->
{% assign author = site.data.authors[page.author] %}
<div class="post__author">
  <img class="author__picture" src="//gravatar.com/avatar/{{ author.gravatar}}?s=100" alt="{{ author.display_name }}">
  <div class="author__text">
    <span class="author__name"><a href="/authors/{{ author.author_path }}" title="{{ page.title }} written by {{ author.display_name }}">{{ author.display_name }}</a></span>
    <span class="author__title">{{ author.title | markdownify | remove: '<p>' }}</span>
    <span class="post__date"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B·%d·%Y" }}</time></span>
  </div>
</div>
