{% if site.related_posts.size >= 1 %}
<div class="related-posts">
  <h5 class="related-posts__title">Related</h5>
  <ul>
  {% for p in site.related_posts limit: 3 %}
    <li class="post-list__item">
      <a href="{{ p.url }}" title="{{ p.title | smartify }}">
        <small class="related__date">
          <time datetime="{{ p.date | date_to_xmlschema }}">{{ p.date | date: "%b %d, %Y" }}</time>
        </small>
        <span class="related__title">{{ p.title | smartify | widont | truncatewords: 7 }}</span>        
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}
