{% if page.layout == 'post' %}
  {% assign myPage = page %}
{% else %} 
  {% assign myPage = post %}
{% endif %}

<ul class="review-info">
  <li class="review-info__item review-info--rating">
     {% include star-rating.html %}
  </li>
  
  {% if myPage.review.type == 'movie' %}
    <li class="review-info__item">
      <strong class="review-info__heading">Directed by</strong>
      {{ myPage.review.movie.director }}
    </li>
    <li class="review-info__item">
      <strong class="review-info__heading">{% if myPage.review.movie.is_rewatched %}Rewatched{% else %}Watched{% endif %} on</strong>
      {{ myPage.review.movie.date | date: "%b %d, %Y" }}
    </li>
  {% endif %}

  {% if myPage.review.type == 'product' %}
    <li class="review-info__item">
      <strong class="review-info__heading">Brand</strong>
      {{ myPage.review.product.brand }}
    </li>
  {% endif %}

  {% if myPage.review.type == 'app' %}
    <li class="review-info__item">
      <strong class="review-info__heading">Developer</strong>
      {{ myPage.review.app.developer }}
    </li>
  {% endif %}

  {% if myPage.review.type == 'book' %}
    <li class="review-info__item">
      <strong class="review-info__heading">Author</strong>
      {{ myPage.review.book.author }}
    </li>
  {% endif %}

  {% if myPage.review.type == 'album' %}
    <li class="review-info__item">
      <strong class="review-info__heading">Artist</strong>
      {{ myPage.review.album.artist }}
    </li>

    <li class="review-info__item review-info__item--best-song">
      <strong class="review-info__heading">Best Song</strong>
      {{ myPage.review.album.favesong | caps }}
    </li>
  {% endif %}

  {% if myPage.review.price %}
    <li class="review-info__item">
      <strong class="review-info__heading">Price</strong>
      ${{ myPage.review.price }} <span class="caps">USD</span>
    </li>
  {% endif %}

  {% if myPage.review.type == 'movie' or myPage.review.type == 'book' or myPage.review.type == 'album' %}
    <li class="review-info__item review-info__item--genres">
      <strong class="review-info__heading">Genres</strong>
      {% assign sortedGenres = myPage.categories | sort %} 
      <span>
        {% for genre in sortedGenres %}
          {% if forloop.last %} 
            <a href="/genres/#{{ genre | downcase | replace:' ','-' }}">{{ genre | titlecase }}</a>
          {% else %}
            <a href="/genres/#{{ genre | downcase | replace:' ','-' }}">{{ genre | titlecase }}</a>, 
          {% endif %}
        {% endfor %}
      </span>
      
    </li>
  {% endif %}

  {% if myPage.review.url %}
    <li class="review-info__item review-info__item--one-line">
      <a href="{{ myPage.review.url }}">Buy on {{ myPage.review.vendor }}</a>
    </li> 
  {% endif %}
</ul>
