<div id="search" class="{% if include.css_classes %}{{ include.css_classes }}{% endif %}">
  <form onsubmit="return false;" novalidate="novalidate">
    <input type="search" id="search-query" class="search-input" name="q" placeholder="Search…" autocomplete="off" autocorrect="off">
  </form>
  <div class="popover popover--top popover--medium popover--search">
    <h4 class="header-search__title">Search Results</h4>
    <div id="results" class="search-results-list search-results-list--mini"></div>
    <div class="popover__shadow"></div>
  </div>
</div><!-- .site__search-form -->
