<svg
  xmlns="http://www.w3.org/2000/svg"
  width="17" height="17"
  viewBox="0 0 128 128">
  <polygon class="{% if include.half == "true" or include.empty == "true" %}star--empty{% else %}star--filled{% endif %}" fillRule="evenodd" points="64.5 106.306 25.255 128 32.75 82.051 1 49.51 44.877 42.806 64.5 1 84.123 42.806 128 49.51 96.25 82.051 103.745 128"/>
  {% if include.half == "true" %}
    <g id="half-star" class="star--filled">
      <polygon id="Shape" points="63.5 105.306 24.255 127 31.75 81.051 0 48.51 43.877 41.806 63.5 0"></polygon>
    </g>
  {% endif %}
</svg>
