{% if page.layout == 'post' %}
  {% assign myPage = page %}
{% else %} 
  {% assign myPage = post %}
{% endif %}

<span>
  {% if myPage.review.rating == 1 %}
    {% include stars.html %}
    {% include stars.html empty='true' %}
    {% include stars.html empty='true' %}
    {% include stars.html empty='true' %}
    {% include stars.html empty='true' %}
  {% elsif myPage.review.rating == 1.5 %}
    {% include stars.html %}
    {% include stars.html half="true" %}
    {% include stars.html empty='true' %}
    {% include stars.html empty='true' %}
    {% include stars.html empty='true' %}
  {% elsif myPage.review.rating == 2 %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html empty='true' %}
    {% include stars.html empty='true' %}
    {% include stars.html empty='true' %}
  {% elsif myPage.review.rating == 2.5 %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html half="true" %}
    {% include stars.html empty='true' %}
    {% include stars.html empty='true' %}
  {% elsif myPage.review.rating == 3 %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html empty='true' %}
    {% include stars.html empty='true' %}
  {% elsif myPage.review.rating == 3.5 %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html half="true" %}
    {% include stars.html empty='true' %}
  {% elsif myPage.review.rating == 4 %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html empty='true' %}
  {% elsif myPage.review.rating == 4.5 %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html half="true" %}
  {% elsif myPage.review.rating == 5 %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html %}
    {% include stars.html %}
  {% endif %}
</span>
