{% if page.tags.size > 0 %}
  <ul class="post__topics">
    {% assign sortedTags = page.tags | sort %}
    {% for tag in sortedTags %}
      <li class="topic">
        <a href="/topics/#{{ tag | downcase | replace:' ','-'}}" title="Posts tagged {{ tag }}">#{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if post.tags.size > 0 %}
  <ul class="post__topics">
    {% assign sortedTags = post.tags | sort %}
    {% for tag in sortedTags %}
      <li class="topic">
        <a href="/topics/#{{ tag | downcase | replace:' ','-'}}" title="Posts tagged {{ tag }}">#{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
