{% if page.tags.size > 0 %}
  <h6 class="post-tags__title">On the Topic of…</h6>
  <ul class="post__tags">
    {% assign sortedTags = page.tags | sort %}
    {% for tag in sortedTags %}
      <li>
        <a href="{{ site.url }}/topics/#{{ tag | downcase | replace:' ','-'}}" title="Pages tagged {{ tag }}">{{ tag | titlecase }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if post.tags.size > 0 %}
  <h6 class="post-tags__title">On the Topic of…</h6>
  <ul class="post__tags">
    {% assign sortedTags = post.tags | sort %}
    {% for tag in sortedTags %}
      <li>
        <a href="{{ site.url }}/topics/#{{ tag | downcase | replace:' ','-'}}" title="Pages tagged {{ tag }}">{{ tag | titlecase }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
