---
---

// RESET THIS MUTHA!
// -----------------------------------------
// @reset
// Reseting and bringing in the foundations of our CSS.
// -----------------------------------------

@import '_vendor/normalize';
@import '_base/reset';

// VARIABLES
// -----------------------------------------
// @variables
// Setting up variables. Bringing in Colors and Spacing.
// -----------------------------------------

@import '_base/bits';

// BASE STYLES
// -----------------------------------------
// @base
// Setting up base. Bringing in Type, Images, Forms, and Icons.
// -----------------------------------------

@import '_base/type';

// COMPONENTS
// -----------------------------------------
// @components
// Setting up components & reusable objects.
// -----------------------------------------

@import '_components/tables';
@import '_components/images';
@import '_components/forms';
@import '_components/icons';
@import '_components/buttons';
@import '_components/pagenavi';
@import '_components/objects';
@import '_components/group-page';
@import '_components/review-info';

// LAYOUT
// -----------------------------------------
// @layout
// -----------------------------------------

@import '_base/base';
@import '_layout/layout';
@import '_layout/header';
@import '_layout/maincontent';
@import '_layout/sidebar';
@import '_layout/pages';
@import '_layout/footer';

// CODE HIGHLIGHTING
// -----------------------------------------
// @syntax
// Code highlighting styles.
// -----------------------------------------

@import '_base/syntax';
