// -------------------------------
// FOOTER
// -------------------------------

.footer {
  background-color: $secondary-color;
  color: rgba(white, .6);
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 0;

  @media #{$medium-up} {
    max-width: 90%;
  }

  @media #{$large-up} {
    max-width: 80%;
  }

  > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
    width: 90%;
  }

  p {
    font-size: .75rem;
  }

  p:first-child {
    color: white;
    font-size: 1.1rem;
  }

  .icon {
    fill: $primary-color;
  }
}

.offline-ready {
  background: #CFE8C6;
  bottom: 0;
  color: darken(#CFE8C6, 50%);
  display: none;
  @extend %sans-small;
  left: 0;
  padding: .8rem;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 5;
  &.active {
    display: block;
  }
}
