// -------------------------------
// FOOTER
// -------------------------------

.footer {
  background-color: $primary-color;
  box-shadow: -10px 0 0 rgba(black, .1);
  display: grid;
  grid-column: span 2;
  @media #{$large-up} {
    align-items: center;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repeat(5, 1fr);
  }
  > * {
    padding: 1.5rem;
  }
}

.footer__about {
  color: rgba(white, .8);
  p {
    line-height: 1.4;
  }
  @media #{$large-up} {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }
}

.footer__subscribe {
  background-color: darken($secondary-color, 4%);
  h6 {
    color: white;
    @extend %sans;
    font-size: .7rem;
  }
  @media #{$large-up} {
    grid-column: span 2;
  }
}

.footer__links {
  background-color: white;
  h6 {
    color: $body-color;
    @extend %sans;
    font-size: .7rem;
  }
  @media #{$large-up} {
    grid-column: span 2;
    grid-row: 2;
  }
}

.footer__copyright {
  background-color: darken($secondary-color, 8%);
  small {
    color: lighten($secondary-color, 30%);
    font-size: .8rem;
  }
  .icon {
    bottom: 1px;
    fill: $primary-color;
    position: relative;
  }
  a {
    color: lighten($secondary-color, 30%);
    &:hover,
    &:focus {
      color: white;
    }
  }
  @media #{$large-up} {
    grid-column: span 6;
  }
}
