// -------------------------------
// HEADER
// -------------------------------

.header {
  position: relative;
  padding-bottom: $ratio1;
  padding-top: $ratio1;

  > * {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 73em) {
    > * {
      width: 100%;
    }
  }
}

// Logo

.site__branding {
  margin-bottom: $ratio1;
}

.logo {
  display: grid;
  width: 14rem;
  position: relative;
  left: -6px;
}

.brightly-colored-logo {
  width: 100%;
}

.logo__first-word {
  fill: $primary-color;
}

.logo__second-word {
  fill: desaturate(lighten($secondary-color, 30%), 20%);
  fill: $secondary-color;
}

.header__byline {
  color: lighten($body-color, 10%);
  font-size: $ratio-1;
  margin-top: 0.3rem;
  text-transform: uppercase;
}

// Navigation

.site__navigation {
  background-color: $light-bg-color;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  li {
    + li {
      margin-left: 0.8rem;
    }
  }
  a {
    font-size: $ratio-1;
    text-decoration: none;
  }
}

.navigation {
  display: flex;
}

.search--header {
  @media #{$small-only} {
    display: none;
  }
  .search__input {
    font-size: $ratio-2;
    padding: $ratio-2;
  }
}

// Header Menu

.header__menu {
  display: block;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: 1.48rem;
  left: 5%;
  opacity: 0.6;

  .menu__line {
    display: block;
    background-color: white;
    width: 25px;
    height: 1px;
    + .menu__line {
      margin-top: 6px;
    }
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  @media #{$large-up} {
    display: none;
  }
}
