// -------------------------------
// HEADER
// -------------------------------

.header {
  align-items: center;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  padding: .7rem 1rem;
  position: relative;
  z-index: 5;
  @media #{$medium-up} {
    background-color: transparent;
    justify-content: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding: 0;
  }
  &.js-menu-is-open {
    left: 0;
    position: fixed;
    right: 0;
    @media #{$large-up} {
      position: relative;
    }
  }
}

.header__branding {
  flex: 1 1 auto;
  height: 59px;
  @media #{$medium-up} {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    height: auto;
  }
}

.header__byline {
  color: rgba(white, .75);
  font-size: .68rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.brightly-colored-logo {
  width: 180px;
  @media #{$medium-up} {
    width: 250px;
  }
}

.logo__first-word {
  fill: white;
}

.logo__second-word {
  fill: lightgoldenrodyellow;
}

.header__search-button {
  height: 25px;
  width: 25px;
  svg {
    fill: white;
  }
  @media #{$medium-up} {
    display: none;
  }
}

// -----------------------------------------
// HEADER SEARCH
// -----------------------------------------

.header__search {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 6rem;
  transition: width 300ms ease, opacity 300ms ease;
  width: 0;
  z-index: 4;
  @media #{$medium-up} {
    left: auto;
    opacity: 1;
    pointer-events: auto;
    right: 1rem;
    width: 300px;
  }

  &.js-search-is-open {
    opacity: 1;
    pointer-events: auto;
    right: 6rem;
    width: calc(100% - 7rem);
    @media #{$medium-up} {
      left: auto;
      opacity: 1;
      pointer-events: auto;
      right: 1rem;
      width: 300px;
    }
  }
}


// -----------------------------------------
// MOBILE MENU ICON
// -----------------------------------------

.navigation__icon {
  cursor: pointer;
  height: 17px;
  margin-left: 1rem;
  position: relative;
  transform: rotate(0deg);
  transition: .3s ease-in-out;
  width: 25px;
  @media #{$medium-up} {
    display: none;
  }
}

.navigation__icon span {
  background-color: white;
  display: block;
  height: 1px;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  width: 100%;
}


.navigation__icon span:nth-child(1) {
  top: 0;
}

.navigation__icon span:nth-child(2),
.navigation__icon span:nth-child(3) {
  top: 8px;
}

.navigation__icon span:nth-child(4) {
  top: 16px;
}

.navigation__icon.js-menu-is-open span:nth-child(1) {
  left: 50%;
  top: 18px;
  width: 0;
}

.navigation__icon.js-menu-is-open span:nth-child(2) {
  transform: rotate(45deg);
}

.navigation__icon.js-menu-is-open span:nth-child(3) {
  transform: rotate(-45deg);
}

.navigation__icon.js-menu-is-open span:nth-child(4) {
  left: 50%;
  top: 18px;
  width: 0;
}
