// -------------------------------
// HEADER
// -------------------------------

.header {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding: 1.4rem 0;
  @media #{$medium-up} {
    padding: 2rem 0;
  }
}

.logo {
  display: grid;
}

.brightly-colored-logo {
  width: 230px;
  @media #{$medium-up} {
    width: 280px;
  }
}

.logo__first-word {
  fill: white;
}

.logo__second-word {
  fill: lightgoldenrodyellow;
}

.header__byline {
  color: white;
  font-size: 0.65rem;
  font-weight: 600;
  letter-spacing: 1.6px;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
  @media #{$medium-up} {
    font-size: 0.7rem;
  }
}

.header__description {
  color: rgba(white, 0.8);
  font-size: 0.9rem;
  line-height: 1.3;
  margin-top: 0.8rem;
  max-width: 400px;
  text-align: center;
}
