// -------------------------------
// MAIN CONTENT
// -------------------------------

.main {
  background-color: white;
  @media #{$medium-up} {
    min-height: calc( 100vh - 370px );
  }
  @media #{$large-up} {
    min-height: calc( 100vh - 237px );
  }
}
.content {
  padding-bottom: 8rem;
  padding-top: 2.5rem;
}

// Shareable Post Styles ---------

.posts__date {
  margin-bottom: 3rem;

  .current-day {
    color: lighten($body-color, 20%);
    display: block;
    font-size: .75rem;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
}

.day-posts {
  + .day-posts {
    border-top: 1px solid $border-color;
    margin-top: 4rem;
    padding-top: 4rem;
  }
  + .posts__date {
    border-top: 1px solid $border-color;
    margin-top: 4rem;
    padding-top: 4rem;
  }
  .posts__post + .posts__post {
    border-top: 1px solid $border-color;
    margin-top: 4rem;
    padding-top: 4rem;
  }
}

.small-author {
  color: lighten($body-color, 35%);
  display: block;
  font-size: .65rem;
  font-weight: 600;
  margin-bottom: .6rem;
  a {
    color: lighten($body-color, 35%);
  }
  .format-link & {
    margin-top: .3rem;
  }
}

.post__header {
  h1 {
    a {
      color: $heading-base-color;
      -webkit-hyphens: none;
      hyphens: none;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $link-color;
      }
    }
    + h2 {
      margin-top: .5rem;
    }
  }
}

.post__subtitle {
  color: lighten($heading-base-color, 15%);
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.2;
}

.post__permalink {
  display: block;
  font-size: .75rem;
  margin-top: 1.8rem;
  a {
    color: lighten($body-color, 15%);
  }
}

.post__footer {
  margin-top: 3rem;
}

.archive-link {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.post__rss-only {
  background-color: $light-bg-color;
  border-radius: $global-radius;
  margin-bottom: 1.1rem;
  margin-top: 2rem;
  padding: .4rem;
  p {
    color: lighten($body-color, 10%);
    font-size: .85rem;
    a {
      color: lighten($body-color, 10%);
    }
  }
}

// Post Author -------------------

.post__author {
  align-items: center;
  display: grid;
  grid-gap: .7rem;
  grid-template-columns: 50px auto;
  margin-bottom: 2rem;
}

.author__text {
  color: lighten($body-color, 15%);
  span {
    display: block;
  }
  .post__date {
    font-size: .7rem;
  }
}

.author__name {
  color: $heading-base-color;
  font-size: .75rem;
  font-weight: 600;
  margin: 0;
  text-transform: none;
  a {
    color: $heading-base-color;
    text-decoration: none;
  }
}

.author__title {
  font-size: .75rem;
  font-weight: normal;
}

.author__picture {
  border-radius: 5px;
}

// Format Post -------------------

.format-post {
  .post__header {
    margin-bottom: 1.3rem;
  }
  h1 {
    font-size: 1.8rem;
    letter-spacing: -1.2px;
    line-height: 1.2;
  }
}

.post > {
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover {
      .heading-link {
        display: inline-block;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

.heading-link {
  color: lighten($heading-base-color, 45%);
  display: none;
  font-size: .85em;
  margin-left: .4rem;
  opacity: 0;
  pointer-events: none;
  position: relative;
  text-decoration: none;
  transition: opacity 300ms ease-in-out;
}

.toc-wrapper {
  border: 1px solid rgba($body-color, .1);
  border-radius: $global-radius;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  h2 {
    align-items: center;
    background-color: rgba($body-color, .05);
    cursor: pointer;
    display: flex;
    @extend %sans;
    font-size: .75rem;
    justify-content: space-between;
    letter-spacing: -.2px;
    margin: 0;
    padding: .6rem 1rem;
    text-transform: uppercase;
    svg {
      fill: lighten($body-color, 30%);
      transition: transform 350ms ease;
      width: 16px;
    }
    &.js-toc-is-open {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  #markdown-toc {
    display: none;
    font-size: .75rem;
    height: 0;
    list-style: decimal-leading-zero;
    overflow: hidden;
    padding-left: 2.5rem;
    transition: height 350ms ease;
    &.js-toc-is-open {
      display: block;
      height: auto;
    }
  }
  li {
    padding: .3rem 0;
    a {
      border-bottom: 1px dotted transparent;
      display: inline-block;
      font-size: .75rem;
      font-weight: 600;
      text-decoration: none;
      &:hover,
      &:focus {
        background-color: rgba($link-color, .1);
        border-bottom: 1px dotted $link-color;
      }
    }
    ol {
      list-style-type: lower-roman;
      padding-left: .5rem;
    }
  }
}

// Format Link -------------------

.format-link {
  .post__header {
    margin-bottom: .8rem;
  }
  h1 {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.3;
  }
  .arrow {
    color: lighten($heading-base-color, 35%);
    font-size: 1.3rem;
    line-height: 100%;
    margin-left: .8rem;
  }
}

// Footnotes ---------------------

.footnotes {
  margin-top: 2rem;
  &:before {
    background-color: $primary-color;
    content: '';
    display: block;
    height: 2px;
    margin-bottom: 1rem;
    width: 120px;
  }
  li,
  p {
    font-size: .8rem;
  }
  ol {
    list-style-type: decimal-leading-zero;
    padding-left: 2rem;
  }
  li + li {
    margin-top: .5rem;
  }
}

// Post Tags ---------------------

.post-tags__title {
  color: $heading-base-color;
  @extend %sans;
  font-size: .7rem;
  margin-bottom: .2rem;
}

.post__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  li {
    font-size: .7rem;
    font-weight: 600;
    + li {
      margin-left: 2rem;
      position: relative;
      &:before {
        color: darken($border-color, 10%);
        content: '/';
        font-size: 1.1rem;
        font-weight: normal;
        left: -23px;
        position: absolute;
        top: -6px;
      }
    }
  }
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
}

// Related Posts -----------------

.related-posts {
  margin-top: 1.5rem;
  max-width: 215px;
}

.related-posts__title {
  @extend %sans;
  font-size: .7rem;
  letter-spacing: 0;
  margin-top: 0;
  &:before {
    content: none;
  }
}

.post-list__item {
  font-size: .75rem;
  a {
    text-decoration: none;
  }
  .related__date {
    color: lighten($body-color, 25%);
    display: block;
    font-size: .7rem;
  }
  .related__title {
    font-weight: 600;
  }
  + .post-list__item {
    margin-top: .5rem;
  }
}


// TEXT GRID ---------------------

.content {
  max-width: 1000px;
  position: relative;
  @media #{$medium-up} {
    margin-left: auto;
    margin-right: auto;
    width: 94%;
  }
}

.p-body > *:not(.iframe-container):not(.card):not(.extendout):not(.photo-grid):not(.alignleft):not(.alignright):not(.small__right):not(.small__left):not(.highlighter-rouge):not(.post__footer):not(.tag__section):not(table):not(.post__section):not(.page__header--full),
.posts__date > .current-day,
.post__footer,
.highlighter-rouge,
.photo-grid > *:not(img),
.extendout > *:not(img),
.card > * {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  @media #{$medium-up} {
    max-width: 575px;
    width: 100%;
  }
}
