// -------------------------------
// MAIN CONTENT
// -------------------------------

.main {
  background-color: white;
  padding: 3rem 0;

  @media #{$medium-up} {
    min-height: calc(100vh - 370px);
  }

  @media #{$large-up} {
    min-height: calc(100vh - 237px);
  }
}

// Shareable Post Styles ---------

.posts__date {
  margin-bottom: 2rem;

  @media #{$medium-up} {
    margin-bottom: 2rem;
  }

  .current-day {
    color: #757575;
    display: block;
    font-size: 0.68rem;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    @extend %sans;
    font-variant-numeric: lining-nums;

    &:before {
      background-color: $primary-color;
      content: '';
      display: block;
      height: 1px;
      margin-bottom: 5px;
      width: 130px;
    }
  }
}

.day-posts {
  + .day-posts {
    margin-top: 10rem;
  }

  + .posts__date {
    margin-top: 6rem;

    @media #{$medium-up} {
      margin-top: 8rem;
    }
  }

  .posts__post + .posts__post {
    @media #{$small-only} {
      border-top: 1px solid $border-color;
      margin-top: 3rem;
      padding-top: 3rem;
    }

    @media #{$medium-up} {
      margin-top: 8rem;
    }
  }
}

.posts__date:first-child {
  margin-top: 0;
}

.small-author {
  color: lighten($body-color, 35%);
  display: block;
  font-size: 0.66rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  display: grid;
  grid-template-columns: 26px minmax(85px, auto);
  grid-column-gap: 0.6rem;
  align-items: center;

  @media #{$large-up} {
    position: absolute;
    right: 106%;
    top: 0.5rem;
  }

  @extend %sans;

  img {
    width: 26px;
    border-radius: 3px;
  }

  span {
    line-height: 1.1;
  }

  a {
    display: block;
  }

  .format-link & {
    // margin-top: 0.3rem;
  }
}

.post__header {
  position: relative;
  h1 {
    a {
      color: $heading-base-color;
      font-weight: 600;
      -webkit-hyphens: none;
      hyphens: none;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $link-color;
      }
    }

    + h2 {
      margin-top: 0.1rem;
    }
  }
}

.post__subtitle {
  color: lighten($heading-base-color, 15%);
  @extend %sans;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.1;
  letter-spacing: -0.4px;
}

.post__footer {
  margin-top: 1.6rem;
}

.archive-link {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.post__rss-only {
  background-color: $light-bg-color;
  border-radius: $global-radius;
  margin-bottom: 1.1rem;
  margin-top: 2rem;
  padding: 0.4rem;

  p {
    color: lighten($body-color, 10%);
    font-size: 0.85rem;

    a {
      color: lighten($body-color, 10%);
    }
  }
}

// Post Author -------------------

.post__meta {
  color: lighten($body-color, 15%);
  font-size: 0.68rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin-bottom: 1rem;
  text-transform: uppercase;
  @extend %sans;
  font-variant-numeric: lining-nums;
}

.post__author {
  a {
    text-decoration: underline dotted $link-color;

    &:hover,
    &:focus {
      background-color: rgba($link-color, 0.1);
      text-decoration: underline dotted $link-color;
    }
  }
}

.author__name {
  color: $heading-base-color;
  margin: 0;

  a {
    color: $heading-base-color;
    text-decoration: none;
  }
}

.author__title {
  font-size: 0.75rem;
  font-weight: normal;
}

.author__picture {
  border-radius: 5px;
}

.author__credit {
  align-items: center;
  border: 1px solid #ddd;
  color: lighten($body-color, 20%);
  display: grid;
  font-size: 0.75rem;
  grid-column-gap: 0.6rem;
  grid-template-columns: 30px auto;
  margin-bottom: 1.6rem;
  padding: 0.6rem;
  @extend %sans;

  p {
    font-size: 0.75rem;
  }

  .author__picture {
    width: 30px;
    border-radius: 3px;
  }
}

// Format Post -------------------

.format-post {
  .post__header {
    margin-bottom: 1.2rem;
  }

  h1 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.4px;
    line-height: 1.1;
  }
}

.post > {
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover {
      .heading-link {
        display: inline-block;
        opacity: 1;
        pointer-events: auto;
        text-decoration: none;
      }
    }
  }
}

.heading-link {
  color: lighten($heading-base-color, 45%);
  display: none;
  font-size: 0.85em;
  margin-left: 0.4rem;
  opacity: 0;
  pointer-events: none;
  position: relative;
  text-decoration: none;
  transition: opacity 300ms ease-in-out;
}

.toc-wrapper {
  border: 1px solid rgba($body-color, 0.1);
  border-radius: $global-radius;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  @extend %sans;

  h2 {
    align-items: center;
    background-color: rgba($body-color, 0.05);
    cursor: pointer;
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
    letter-spacing: 0.6px;
    margin: 0;
    padding: 0.6rem 1rem;
    text-transform: uppercase;

    svg {
      fill: lighten($body-color, 30%);
      transition: transform 350ms ease;
      width: 16px;
    }

    &.js-toc-is-open {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  #markdown-toc {
    display: none;
    font-size: 0.75rem;
    height: 0;
    list-style: decimal-leading-zero;
    overflow: hidden;
    padding-left: 2rem;
    transition: height 350ms ease;

    &.js-toc-is-open {
      display: block;
      height: auto;
    }
  }

  li {
    padding: 0.3rem 0;

    a {
      border-bottom: 1px dotted transparent;
      display: inline-block;
      font-size: 0.75rem;
      font-weight: 600;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: rgba($link-color, 0.1);
        border-bottom: 1px dotted $link-color;
      }
    }

    ol {
      list-style-type: lower-roman;
      padding-left: 0.5rem;
    }
  }
}

// Format Link -------------------

.format-link {
  .post__header {
    margin-bottom: 0.4rem;
  }

  h1 {
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .post__permalink {
    bottom: 1px;
    color: #aaa;
    font-size: 1.2rem;
    font-weight: normal;
    margin-left: 0.6rem;
    position: relative;
    vertical-align: middle;
    @extend %sans;
  }

  h1 a:not(.post__permalink) {
    text-decoration: underline solid $link-underline;

    &:focus,
    &:hover {
      color: $body-color;
      text-decoration: underline solid $link-color;
    }
  }
}

// Footnotes ---------------------

.footnotes {
  margin-top: 2rem;

  &:before {
    background-color: $primary-color;
    content: '';
    display: block;
    height: 2px;
    margin-bottom: 1rem;
    width: 120px;
  }

  li,
  p {
    font-size: 0.8rem;
  }

  ol {
    list-style-type: decimal-leading-zero;
    padding-left: 2rem;
  }

  li + li {
    margin-top: 0.5rem;
  }
}

// Post Topics -----------------------------

.post__topics {
  align-items: center;
  font-size: 0.75rem;
  @extend %sans;

  li + li {
    margin-top: 0.4rem;
  }

  @media #{$medium-up} {
    display: flex;
    li + li {
      margin-top: 0;
      margin-left: 0.6rem;
    }
  }

  a {
    color: #757575;
    font-weight: normal;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $link-color;
    }
  }
}

// Social Links ----------------------------

$twitter-color: #1da1f2;
$facebook-color: #3b5998;
$reddit-color: #ff4500;

.post__share {
  margin-top: 1.6rem;
}

.post-share__title {
  font-size: 0.7rem;
  margin-top: 0;
  @extend %sans;

  &:before {
    width: 42px;
  }
}

.social-links {
  display: flex;
  list-style: none;
  margin-bottom: 1rem;
  width: 100%;

  li {
    font-size: 0.75rem;
  }

  a {
    color: lighten($body-color, 25%);
    display: flex;
    padding: 0.6rem;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;

    &:focus {
      outline: 0;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    .icon {
      fill: white;
      width: 13px;
      height: 13px;
    }
  }

  .social--facebook {
    background-color: $facebook-color;
  }

  .social--reddit {
    background-color: $reddit-color;
  }

  .social--twitter {
    background-color: $twitter-color;
  }

  .social__label {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }
}

// Related Posts -----------------

.related-posts {
  margin-top: 1.6rem;

  .post__topics {
    font-size: 0.66rem;
    margin-left: 0.6rem;
    a {
      font-weight: 600;
      color: #aaa;
      text-transform: uppercase;
    }
  }

  .post-list__item {
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-column-gap: 1.4rem;
    align-items: center;

    + .post-list__item {
      margin-top: 1.6rem;
    }
  }
}

.related-posts__title {
  font-size: 0.7rem;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 1.4rem;
  @extend %sans;

  &:before {
    width: 42px;
  }
}

.related__meta {
  display: flex;
  margin-bottom: 0.4rem;
}

.post-list__item {
  font-size: 0.66rem;

  a {
    text-decoration: none;
  }

  .related__date {
    color: #888;
    font-weight: 600;
    display: block;
    font-variant-numeric: lining-nums;
    text-transform: uppercase;
    @extend %sans;
  }

  .related__title {
    color: $heading-base-color;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.3px;
    text-decoration: underline solid $link-underline;
  }

  .related__image {
    img {
      height: 100px;
      object-fit: cover;
      border-radius: $global-radius;
    }
  }
}

// TEXT GRID -------------------------------

.p-body {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;

  @media #{$xlarge-up} {
    max-width: 1200px;
  }
}

.p-body
  > *:not(.iframe-container):not(.card):not(.extendout):not(.photo-grid):not(.alignleft):not(.alignright):not(.small__right):not(.small__left):not(.highlighter-rouge):not(.post__footer):not(.tag__section):not(table):not(.post__section):not(.page__header--full),
.posts__date > .current-day,
.post__footer > *:not(.card),
.highlighter-rouge,
.photo-grid > *:not(img),
.extendout > *:not(img),
.card > *,
.footer > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
  width: 90%;
  @media #{$large-up} {
    width: 100%;
  }
  @media #{$xlarge-up} {
    max-width: 630px;
  }
}
