// -------------------------------
// SIDEBAR
// -------------------------------

.sidebar {
  background-color: $light-bg-color;
  padding: 2rem 5%;
  @media #{$medium-up} {
    padding: 4rem 1.4rem 3rem;
  }

  > * {
    max-width: 250px;
  }
}

.site__navigation {
  li {
    + li {
      margin-top: 0.2rem;
    }
  }
  a {
    font-size: $ratio-1;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.sidebar__subscribe {
  display: block;
  font-size: $ratio-2;
  margin-top: 1rem;
  line-height: 1.5;
}

.search--sidebar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .search__input {
    font-size: $ratio-2;
    padding: 0.6rem;
  }
}

.sidebar__copyright {
  font-size: $ratio-2;
}
