---
---

$primary-color: #ff7296;
$secondary-color: #35314f;

$bg-color: $primary-color;
$footer-bg-color: $secondary-color;

$text-color: lighten($secondary-color, 15%);
$text-color-light: lighten($text-color, 22%);

$bg-color-light: lighten($primary-color, 24%);
$border-color: lighten($secondary-color, 65%);

$footer-link-color: white;

@import '../../themes/color-overrides';
