---
---

$primary-color: #730348;
$secondary-color: #20ca93;

body {
  background-color: $primary-color;
}

.header__byline {
  color: $secondary-color;
}

.header__description {
  color: white;
}

.logo__first-word {
  fill: white;
}

.logo__second-word {
  fill: $secondary-color;
}

.site__navigation {
  background-color: lighten($secondary-color, 35%);
}

.header__navigation {
  @media screen and (max-width: 39.9375em) {
    background-color: lighten($secondary-color, 35%);
  }
}

.navigation a {
  color: darken($secondary-color, 20%);
  &:hover,
  &:focus {
    color: darken($secondary-color, 15%);
  }
}

.footer {
  background-color: $secondary-color;

  a {
    color: white;
    &:hover,
    &:focus {
      color: $primary-color;
      text-decoration: underline solid $primary-color;
    }
  }

  .icon {
    fill: $primary-color;
  }
}

.card--light {
  background-color: lighten($primary-color, 71%);
}

blockquote {
  border-left-color: $secondary-color;
}

.posts__date .current-day:before {
  background-color: $secondary-color;
}

.btn--primary {
  background-color: $secondary-color;
  &:hover,
  &:focus {
    background-color: darken($secondary-color, 5%);
  }
}

.footnotes {
  &:before {
    background-color: $secondary-color;
  }
}
