---
---

$primary-color: #FF6F04;
$secondary-color: #383C40;

body {
  background-color: $primary-color;
}

.site__navigation {
  background-color: lighten($primary-color, 35%);
}

.header__navigation {
  @media screen and (max-width: 39.9375em) {
    background-color: lighten($primary-color, 35%);
  }
}

.navigation a {
  color: darken($primary-color, 15%);
  &:hover,
  &:focus {
    color: darken($primary-color, 10%);
  }
}


.footer {
  background-color: #222;

  .icon {
    fill: $primary-color;
  }
}


.card--light {
  background-color: lighten($secondary-color, 72%);
}

blockquote {
  border-left-color: $primary-color;
}

.posts__date .current-day:before {
  background-color: $primary-color;
}

.btn--primary {
  background-color: $primary-color;
  &:hover,
  &:focus {
    background-color: darken($primary-color, 5%);
  }
}


.footnotes {
  &:before {
    background-color: $primary-color;
  }
}
