---
---

$primary-color: #00b74c;
$secondary-color: #fff400;

body {
  background-color: $primary-color;
}

.sidebar {
  background-color: #222;
}

.navigation a {
  border-top-color: lighten(#222, 10%);
  color: $secondary-color;
  &:hover,
  &:focus {
    color: lighten($secondary-color, 20%);
  }
}

.header {
  background-color: $primary-color;
}

.header__byline {
  color: $secondary-color;
}

.logo__first-word {
  fill: #222;
}

.logo__second-word {
  fill: $secondary-color;
}

.footer {
  background-color: #222;

  a {
    color: rgba(white, .6);
    &:hover,
    &:focus {
      color: white;
    }
  }
  
  .icon {
    fill: $secondary-color;
  }
}

.card--light {
  background-color: lighten(#222, 80%);
}

blockquote {
  border-left-color: $primary-color;
}

.btn--primary {
  background-color: $primary-color;
  &:hover,
  &:focus {
    background-color: darken($primary-color, 5%);
  }
}

.btn--primary.btn--outline {
  @media screen and (max-width: 39.9375em) {
    box-shadow: 0 0 0 1px $primary-color;
    color: $primary-color;
    &:hover,
    &:focus {
      background-color: rgba($primary-color, 0.05);
    }
  }
}

.footnotes {
  &:before {
    background-color: $primary-color;
  }
}
