---
---

$primary-color: #77c367;
$secondary-color: #212836;

$bg-color: $primary-color;
$footer-bg-color: $secondary-color;

$text-color: lighten($secondary-color, 26%);
$text-color-light: lighten($text-color, 12%);

$bg-color-light: lighten($primary-color, 34%);
$border-color: desaturate(lighten($secondary-color, 75%), 25%);

$footer-link-color: white;

@import '../../themes/color-overrides';
