---
---

$primary-color: #5bc3c1;
$secondary-color: #2c0045;

$bg-color: $primary-color;
$footer-bg-color: $secondary-color;

$text-color: desaturate(lighten($secondary-color, 28%), 85%);
$text-color-light: lighten($text-color, 16%);

$bg-color-light: desaturate(lighten($primary-color, 37%), 17%);
$border-color: desaturate(lighten($secondary-color, 77%), 35%);

$footer-link-color: white;

@import '../../themes/color-overrides';
