---
---

$primary-color: #00b74c;
$secondary-color: #fff400;

body {
  background-color: $primary-color;
}

.site__navigation {
  background-color: lighten($primary-color, 51%);
}

.header__navigation {
  @media screen and (max-width: 39.9375em) {
    background-color: lighten($primary-color, 51%);
  }
}

.navigation a {
  color: darken($primary-color, 5%);
  &:hover,
  &:focus {
    color: $primary-color;
  }
}

.header__byline {
  color: $secondary-color;
}

.header__description {
  color: white;
}

.logo__second-word {
  fill: $secondary-color;
}

.footer {
  background-color: #222;

  a {
    color: rgba(white, .7);
    &:hover,
    &:focus {
      color: $secondary-color;
      text-decoration: underline solid $secondary-color;
    }
  }
  
  .icon {
    fill: $secondary-color;
  }
}

.card--light {
  background-color: lighten(#222, 82%);
}

blockquote {
  border-left-color: $primary-color;
}

.posts__date .current-day:before {
  background-color: $primary-color;
}

.btn--primary {
  background-color: $primary-color;
  &:hover,
  &:focus {
    background-color: darken($primary-color, 5%);
  }
}

.footnotes {
  &:before {
    background-color: $primary-color;
  }
}
