---
---

$primary-color: #ff008f;
$secondary-color: #9c1c90;

body {
  background-color: $primary-color;
}

.site__navigation {
  background-color: lighten($secondary-color, 53%);
}

.header__navigation {
  @media screen and (max-width: 39.9375em) {
    background-color: lighten($secondary-color, 53%);
  }
}

.header__description {
  color: #ffe000;
}

.navigation a {
  color: lighten($secondary-color, 10%);
  &:hover,
  &:focus {
    color: $secondary-color;
  }
}

.header {
  background-color: $primary-color;
}

.header__byline {
  color: white;
}

.footer {
  background-color: $secondary-color;
  color: rgba(white, .75);

  a {
    color: rgba(white, .75);
    &:hover,
    &:focus {
      color: white;
    }
  }
  .icon {
    fill: #ffe000;
  }
}

.card--light {
  background-color: lighten($secondary-color, 60%);
}

blockquote {
  border-left-color: $primary-color;
}

.posts__date .current-day:before {
  background-color: $primary-color;
}

.btn--primary {
  background-color: $primary-color;
  &:hover,
  &:focus {
    background-color: darken($primary-color, 5%);
  }
}

.footnotes {
  &:before {
    background-color: $primary-color;
  }
}
