---
---

$primary-color: #46bf2e;
$secondary-color: #093945;

body {
  background-color: $primary-color;
}

.site__navigation {
  background-color: lighten($secondary-color, 75%);
}

.header__navigation {
  @media screen and (max-width: 39.9375em) {
    background-color: lighten($secondary-color, 75%);
  }
}

.navigation a {
  color: lighten($secondary-color, 20%);
  &:hover,
  &:focus {
    color: lighten($secondary-color, 10%);
  }
}

.header__byline {
  color: white;
}

.header__description {
  color: $secondary-color;
}

.logo__second-word {
  fill: $secondary-color;
}

.footer {
  background-color: $secondary-color;

  a {
    color: rgba(white, 0.7);
    &:hover,
    &:focus {
      color: $primary-color;
      text-decoration: underline solid $primary-color;
    }
  }

  .icon {
    fill: $secondary-color;
  }
}

.card--light {
  background-color: desaturate(lighten($secondary-color, 76%), 35%);
}

blockquote {
  border-left-color: $primary-color;
}

.posts__date .current-day:before {
  background-color: $primary-color;
}

.btn--primary {
  background-color: $primary-color;
  &:hover,
  &:focus {
    background-color: darken($primary-color, 5%);
  }
}

.footnotes {
  &:before {
    background-color: $primary-color;
  }
}
