---
---
$primary-color: #1DC0D6;
$secondary-color: #3A4B54;

body {
  background-color: lighten($secondary-color, 20%);
}


.footer__subscribe {
  background-color: $secondary-color;
}

.sidebar {
  background-color: lighten($secondary-color, 65%);
  border-right-color: lighten($secondary-color, 56%);
}

.navigation a {
  border-top-color: lighten($secondary-color, 56%);
  color: lighten($secondary-color, 20%);
  &:hover,
  &:focus {
    color: $secondary-color;
  }
}

.header,
.footer {
  background-color: $primary-color;
}

.footer__about {
  p {
    color: darken($primary-color, 20%);
  }
}

.footer__copyright {
  background-color: darken($secondary-color, 10%);

  small,
  a {
    color: lighten($secondary-color, 20%);
  }

  .icon {
    fill: $primary-color;
  }
}



.card--light {
  background-color: lighten($secondary-color, 65%);
}

blockquote {
  border-left-color: $primary-color;
}

.btn--primary {
  background-color: $primary-color;
  &:hover,
  &:focus {
    background-color: darken($primary-color, 5%);
  }
}

.btn--primary.btn--outline {
  box-shadow: 0 0 0 1px $primary-color;
  color: $primary-color;
  &:hover,
  &:focus {
    background-color: rgba($primary-color, 0.05);
  }
}
