---
---

$primary-color: #f58e41;
$secondary-color: #425970;

$bg-color: $primary-color;
$footer-bg-color: $secondary-color;

$text-color: lighten($secondary-color, 5%);
$text-color-light: lighten($text-color, 16%);

$bg-color-light: lighten($secondary-color, 60%);
$border-color: lighten($secondary-color, 53%);

$footer-link-color: white;

@import '../../themes/color-overrides';
