---
---

$primary-color: #ff008f;
$secondary-color: #9c1c90;

body {
  background-color: $primary-color;
}

.sidebar {
  background-color: lighten($secondary-color, 50%);
}

.navigation a {
  border-top-color: lighten($secondary-color, 45%);
  color: lighten($secondary-color, 15%);
  &:hover,
  &:focus {
    color: $secondary-color;
  }
}

.header {
  background-color: $primary-color;
}

.header__byline {
  color: #ffe000;
}

.footer {
  background-color: $secondary-color;
  color: rgba(white, .75);

  a {
    color: rgba(white, .75);
    &:hover,
    &:focus {
      color: white;
    }
  }
  .icon {
    fill: #ffe000;
  }
}

.card--light {
  background-color: lighten($secondary-color, 55%);
}

blockquote {
  border-left-color: $primary-color;
}

.btn--primary {
  background-color: $primary-color;
  &:hover,
  &:focus {
    background-color: darken($primary-color, 5%);
  }
}

.btn--primary.btn--outline {
  @media screen and (max-width: 39.9375em) {
    box-shadow: 0 0 0 1px $primary-color;
    color: $primary-color;
    &:hover,
    &:focus {
      background-color: rgba($primary-color, 0.05);
    }
  }
}

.footnotes {
  &:before {
    background-color: $primary-color;
  }
}
