---
---

$primary-color: #3b3947;
$secondary-color: #ff7296;

body {
  background-color: $primary-color;
}

.site__navigation {
  background-color: lighten($secondary-color, 23%);
}

.header__navigation {
  @media screen and (max-width: 39.9375em) {
    background-color: lighten($secondary-color, 23%);
  }
}

.navigation a {
  color: darken($secondary-color, 10%);
  &:hover,
  &:focus {
    color: $secondary-color;
  }
}

.header__byline {
  color: $secondary-color;
}

.footer {
  background-color: darken($primary-color, 10%);
  color: rgba(white, .75);

  .icon {
    fill: $secondary-color;
  }

  a {
    color: $secondary-color;
    &:hover,
    &:focus {
      color: $secondary-color;
      text-decoration: underline solid $secondary-color;
    }
  }
}

.card--light {
  background-color: lighten($secondary-color, 24%);
}

blockquote {
  border-left-color: $secondary-color;
}

.posts__date .current-day:before {
  background-color: $secondary-color;
}

.btn--primary {
  background-color: $secondary-color;
  &:hover,
  &:focus {
    background-color: $primary-color;
  }
}

.footnotes {
  &:before {
    background-color: $secondary-color;
  }
}
