---
---

$primary-color: #46bf2e;
$secondary-color: #093945;

$bg-color: $primary-color;
$footer-bg-color: $secondary-color;

$text-color: desaturate(lighten($secondary-color, 20%), 50%);
$text-color-light: lighten($text-color, 13%);

$bg-color-light: lighten($primary-color, 46%);
$border-color: desaturate(lighten($secondary-color, 75%), 35%);

$footer-link-color: white;

@import '../../themes/color-overrides';
