---
---

$primary-color: #FF6F04;
$secondary-color: #383C40;

body {
  background-color: $primary-color;
}

.sidebar {
  background-color: lighten($secondary-color, 75%);
  border-right-color: lighten($secondary-color, 68%)
}

.navigation a {
  border-top-color: lighten($secondary-color, 68%);
  color: lighten($secondary-color, 20%);
  &:hover,
  &:focus {
    color: #444;
  }
}

.header {
  background-color: $primary-color;
}

.footer {
  background-color: #222;

  .icon {
    fill: $primary-color;
  }
}


.card--light {
  background-color: lighten($secondary-color, 70%);
}

blockquote {
  border-left-color: $primary-color;
}

.btn--primary {
  background-color: $primary-color;
  &:hover,
  &:focus {
    background-color: darken($primary-color, 5%);
  }
}

.btn--primary.btn--outline {
  @media screen and (max-width: 39.9375em) {
    box-shadow: 0 0 0 1px $primary-color;
    color: $primary-color;
    &:hover,
    &:focus {
      background-color: rgba($primary-color, 0.05);
    }
  }
}

.footnotes {
  &:before {
    background-color: $primary-color;
  }
}
