---
---

$primary-color: #150021;
$secondary-color: #52b7b5;

body {
  background-color: $secondary-color;
}

.header__byline {
  color: white;
}

.header__description {
  color: rgba($primary-color, 0.6);
}

.logo__first-word {
  fill: white;
}

.logo__second-word {
  fill: #fff066;
}

.site__navigation {
  background-color: lighten($secondary-color, 35%);
}

.header__navigation {
  @media screen and (max-width: 39.9375em) {
    background-color: lighten($secondary-color, 35%);
  }
}

.header .navigation a {
  @media screen and (min-width: 40em) {
    color: darken($secondary-color, 30%);
    &:hover,
    &:focus {
      color: darken($secondary-color, 25%);
    }
  }
}

.navigation a {
  color: darken($secondary-color, 20%);
  &:hover,
  &:focus {
    color: darken($secondary-color, 15%);
  }
}

.footer {
  background-color: $primary-color;
  color: rgba(white, 0.8);

  p:first-child {
    color: $secondary-color;
  }

  a {
    color: rgba(white, 0.7);
    &:hover,
    &:focus {
      color: $secondary-color;
      text-decoration: underline solid $secondary-color;
    }
  }

  .icon {
    fill: $secondary-color;
  }
}

.card--light {
  background-color: lighten($primary-color, 87%);
}

blockquote {
  border-left-color: $secondary-color;
}

.posts__date .current-day:before {
  background-color: $secondary-color;
}

.btn--primary {
  background-color: $secondary-color;
  &:hover,
  &:focus {
    background-color: darken($secondary-color, 5%);
  }
}

.footnotes {
  &:before {
    background-color: $secondary-color;
  }
}
