---
layout: default
custom_css_class: single
---

<article class="post format-{% if page.custom_type %}{{ page.custom_type }}{% endif %} p-body">
  <header class="post__header">
    {% include post-author.html %}

    {% if page.link_url %}
      <h1><a href="{{ page.link_url }}">{{ page.title | smartify | widont }}</a><span class="arrow">&rarr;</span></h1>
    {% else %}
      <h1>{{ page.title | smartify | widont }}</h1>
      {% if page.subtitle %}
        <h2 class="post__subtitle">{{ page.subtitle | smartify | widont }}</h2>
      {% endif %}
    {% endif %}

    {% include review-info.html %}
    
  </header>

  {{ content | improve }}

  <footer class="post__footer">
    {% include tags.html %}

    {% include related-posts.html %}
  </footer>
</article>
