// -------------------------------
// FOOTER
// -------------------------------

.footer {
  background: lighten($primary-color, 5%);
  margin-top: 4rem;
   > * {
    padding: 1.5rem;
  }
  @media #{$medium-up} {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: .5fr 1fr 2fr;
     > :nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
    }
     > :nth-child(4) {
      grid-column: 2 / span 2;
    }
  }
  a {
    text-decoration: none;
  }
  small {
    display: block;
    font-size: .7rem;
     + small {
      margin-top: .5rem;
    }
  }
  .icon {
    fill: white;
  }
  .slash-list li:before {
    color: darken($border-color, 20%);
  }
}

.footer__about {
  background-color: darken($slate, 5%);
  padding: 2rem 1rem;
  p {
    color: $footer-text-color;
    font-size: .8rem;
  }
}

.footer__logo {
  svg {
    width: 220px;
  }
  .logo__first-word {
    fill: $primary-color;
  }
  .logo__second-word {
    fill: white;
  }
}

.footer__subscribe {
  background-color: lighten($border-color, 3%);
}

.footer__links {
  background-color: desaturate(darken($border-color, 5%), 10%);
}

.footer__copyright {
  background-color: $primary-color;
  color: white;
  a {
    color: white;
    text-decoration: underline;
  }
}
