// -------------------------------
// FOOTER
// -------------------------------

.footer {
  border-top: 1px solid $border-color;
  margin-top: 4rem;
  padding: 1rem 0 3rem;
  @media #{$medium-up} {
    margin-left: 34%;
  }
  @media #{$large-up} {
    margin-left: 30%;
  }
  a {
    text-decoration: none;
  }
  small {
    font-size: .85rem;
    display: block;
    + small {
      margin-top: .5rem;
    }
  }
  .icon {
    fill: $primary-color;
  }
}

.footer__sections {
  ul {
    @media #{$medium-up} {
      display: flex;
    }
    li {
      font-size: .85rem;
      line-height: 1.4;
      @media #{$medium-up} {
        font-size: .75rem;
        + li {
          margin-left: 2rem;
          position: relative;
          &:before {
            content: "/";
            color: darken($border-color, 3%);
            font-size: 1.1rem;
            font-weight: normal;
            position: absolute;
            left: -23px;
            top: -4px;
          }
        }
      }
    }
  }
  h6 {
    color: $dark-color;
    margin-bottom: .1rem;
  }
}

.footer__subscribe {
  margin-bottom: 1.5rem;
}

.footer__copyright {
  margin-top: 1.5rem;
  @media #{$medium-up} {
    display: none;
  }
}
