// -------------------------------
// HEADER
// -------------------------------

.header {
  background-color: $secondary-color;

  @media #{$medium-up} {
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    position: fixed;
    top: 0;
    width: 34%;
  }
  @media #{$large-up} {
    width: 30%;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $header-text-color;
    }
  }
}

.header__wrapper {
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 90%;
  @media #{$medium-up} {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 1.5rem;
    max-width: 330px;
    padding-bottom: 4rem;
    width: 80%;
  }
  @media #{$large-up} {
    margin-right: 2.5rem;
    width: 80%;;
  }
}

.header__branding {
  margin-bottom: 1rem;
  .brightly-colored-logo {
    max-width: 210px;
    transition: opacity 300ms ease-in-out;
    @media #{$medium-up} {
      max-width: 260px;
    }
  }
  .logo__first-word {
    fill: $primary-color;
  }
  .logo__second-word {
    fill: white;
  }
}

.logo {
  &:hover,
  &:focus {
    .brightly-colored-logo {
      opacity: .6;
    }
  }
}

.site__statement {
  margin-bottom: 2rem;
  p {
    color: $header-text-color;
    font-size: 1rem;
    @media #{$medium-up} {
      font-size: .8rem;
      line-height: 1.5;
    }
    @media #{$large-up} {
      font-size: .9rem;
      line-height: 1.4;
    }
  }
}

.navigation {
  @media #{$medium-up} {
    margin-bottom: 2rem;
  }
}

.primary-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  @media #{$small-only} {
    display: flex;
    justify-content: space-between;
  }
  li {
    font-size: .85rem;
    @media #{$medium-only} {
      font-size: .75rem;
       + li {
        margin-top: .3rem;
      }
    }
  }
}

.header__search {
  display: none;
  margin-bottom: 2rem;
  @media #{$medium-up} {
    display: block;
  }
}

.header__footer {
  color: $header-footer-color;
  display: none;
  font-size: .8rem;
  @media #{$medium-up} {
    display: block;
  }
  small {
    display: block;
    line-height: 1.5;
     + small {
      margin-top: .5rem;
    }
  }
  svg {
    fill: $primary-color;
  }
}
