// -------------------------------
// MAIN CONTENT
// -------------------------------

.main {
  padding: 2rem 0;
}

.posts {
  .posts__post {
    margin-bottom: 4rem;
    @media #{$medium-up} {
      margin-bottom: 8rem;
    }
  }
}

.post__header {
  h1 + h2 {
    margin-top: 0;
  }
}

.post__meta {
  color: lighten($dark-color, 15%);
  display: block;
  font-size: .8rem;
  line-height: 1;
  margin-top: .8rem;
  a,
  a:hover,
  a:focus {
    color: lighten($dark-color, 15%);
  }
  @media #{$medium-up} {
    font-size: .7rem;
  }
}

.post__footer {
  color: lighten($dark-color, 25%);
  font-size: .8rem;
  margin-top: 4rem;
  @media #{$medium-up} {
    font-size: .75rem;
  }
}

.post-tags__title {
  @extend %sans;
  font-size: .6rem;
  margin-bottom: .2rem;
}

.post__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  li {
    font-size: .7rem;
    font-weight: 600;
     + li {
      margin-left: 2rem;
      position: relative;
      &:before {
        color: darken($border-color, 3%);
        content: '/';
        font-size: 1.1rem;
        font-weight: normal;
        left: -23px;
        position: absolute;
        top: -6px;
      }
    }
  }
  a,
  a:hover,
  a:focus {
    color: lighten($dark-color, 25%);
    text-decoration: none;
  }
}

// Format Post -------------------

.format-post {
  .post__header {
    margin-bottom: 1.8rem;
  }
  h1 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1;
    a {
      color: $dark-color;
      text-decoration: none;
      &:hover {
        border-bottom: 0;
        color: $link-color;
      }
    }
  }
}

.post__subtitle {
  color: lighten($dark-color, 15%);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.1;
}

// Format Link -------------------
.format-link {
  .post__header {
    margin-bottom: 1.2rem;
  }
  h1 {
    font-size: 1.7rem;
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: .7rem;
    a {
      -webkit-hyphens: none;
      hyphens: none;
      text-decoration: none;
    }
    @media #{$medium-up} {
      font-size: 1.6rem;
    }
  }
  .arrow {
    color: lighten($dark-color, 35%);
    font-size: 1.3rem;
    line-height: 100%;
    margin-left: .8rem;
  }
}

// ArtDirect Post ----------------
.format-artdirect {
  background: rgba($slate, .03);
  padding: 10rem 0;
  position: relative;
  transition: box-shadow 500ms ease;
  .post__title {
    font-size: 2.5rem;
    font-weight: 300;
    a {
      text-decoration: none;
    }
  }
  .post__lead {
    color: lighten($dark-color, 20%);
    @extend %sans;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.4;
  }
}

.type-artdirect {
  h1 {
    font-size: 2.4rem;
    font-weight: 600;
  }
}

.artdirect__type {
  color: white;
  font-size: 1.4rem;
  font-style: italic;
  padding: 30px 45px;
  position: absolute;
  right: 0;
  top: 0;
}

.custom-post__footer {
  margin-top: 4rem;
  text-align: center;
  .post__meta {
    margin: 0;
  }
  .post__tags {
    margin-top: .4rem;
  }
}

// Post Author -------------------

.post__author {
  margin-top: 6rem;
  .author {
    border: 0;
    padding: 0;
    &:before {
      background-color: $border-color;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      top: -2.5rem;
      width: 40%;
    }
  }
}

.authors {
  margin-top: 1rem;
}

.author {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 4fr;
  p {
    color: $body-color;
    font-size: .95rem;
    @media #{$medium-up} {
      font-size: .85rem;
    }
  }
   + .author {
    border-top: 1px solid $border-color;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

.author__picture {
  border-radius: 5px;
}

.author__name {
  color: $body-color;
  font-size: 1.2rem;
  margin: 0;
  text-transform: none;
  width: 100%;
}

.author__title {
  color: lighten($body-color, 10%);
  font-size: 1rem;
  font-weight: normal;
  margin-left: .3rem;
}

.author--single {
  border-bottom: 1px solid $border-color;
  padding-bottom: 2.3rem;
  padding-top: 0;
  .author__name {
    font-size: 1.4rem;
  }
  .author__title {
    font-size: 1.2rem;
  }
  p {
    font-size: .9rem;
  }
}

.author-profiles {
  margin-top: 1.5rem;
}

// Related Posts ----------------
.related-posts {
  margin-bottom: 2rem;
  margin-top: 1rem;
  ul {
    display: flex;
  }
  .post-list {
    width: 100%;
  }
  .post-list__item {
    font-size: 1rem;
    line-height: 1.2;
    max-width: 230px;
     + .post-list__item {
      margin-left: 2rem;
    }
    a {
      @extend %sans-con;
      font-weight: 600;
    }
    .pubdate {
      display: block;
      font-size: .8rem;
      margin-top: .3rem;
      @media #{$medium-up} {
        font-size: .7rem;
      }
    }
  }
}

.related-posts__title {
  font-size: .95rem;
  margin-bottom: .5rem;
  margin-top: 0;
  &:before {
    display: none;
  }
}
// Footnotes ---------------------

.footnotes {
  margin: 2.5rem 0;
  ol {
    margin: 0 0 0 2rem;
    width: 83%;
    li {
      font-size: .9rem;
      margin: 0;
      padding: 0;
      @media #{$medium-up} {
        font-size: .8rem;
      }
      code {
        font-size: .8rem;
      }
    }
  }
  hr {
    background: $border-color;
    display: block;
    margin: 20px 0;
    width: 150px;
  }
}

// Media Queries on Post Type ----

.p-body > *:not(.iframe-container):not(.card):not(.extendout):not(.photo-grid):not(.alignleft):not(.alignright):not(.small__right):not(.highlighter-rouge):not(.post__footer):not(.tag__section):not(.tag-box),
.card > *,
.highlighter-rouge > *,
.extendout > *:not(img),
.photo-grid > *:not(img),
.post__footer > *:not(.card),
.pagination > * {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  @media #{$large-up} {
    width: 64%;
  }
  @media #{$xxlarge-up} {
    width: 52%;
  }
}
