// -------------------------------
// PAGES
// -------------------------------

.page__header {
  margin-bottom: 2rem;
}

.page__header--full {
  @media #{$small-only} {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  @media #{$large-up} {
    width: 70%;
  }
}

.page-header__title {
  color: $heading-base-color;
  font-size: 2.5rem;
  margin-bottom: .65rem;
}

.page-header__description {
  color: lighten($body-color, 20%);
  font-size: 1.2rem;
  line-height: 1.5;
}

// -----------------------------------------
// AUTHOR PAGE
// -----------------------------------------

.author {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100px auto;
  margin-bottom: 3rem;
}

.author--single {
  align-items: center;
  .author__name {
    font-size: 1.4rem;
  }

  .author__title {
    color: lighten($body-color, 15%);
    @extend %sans;
    font-size: .9rem;
    margin-bottom: 1rem;
    margin-top: 0;
    text-transform: none;
    &:before {
      content: none;
    }
  }
}

.author-archive {
  list-style: none;
  margin-top: 1rem;

  li {
    + li {
      margin-top: 1rem;
    }
  }

  a {
    display: block;
    font-size: .8rem;
    font-weight: 600;
    line-height: 1.4;
    text-decoration: none;
  }

  .pubdate {
    color: lighten($body-color, 20%);
    display: block;
    font-size: .7rem;
    font-weight: normal;
  }
}
