// -------------------------------
// PAGES
// -------------------------------

.page__header {
  margin-bottom: 2rem;
}

.page__header--full {
  @media #{$small-only} {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  @media #{$medium-up} {
    width: 70%;
  }
}

.page-header__title {
  color: $heading-base-color;
  font-size: 2.5rem;
  margin-bottom: .65rem;
}

.page-header__description {
  color: lighten($body-color, 20%);
  font-size: 1.2rem;
  line-height: 1.5;
}

// -----------------------------------------
// ARCHIVE
// -----------------------------------------

// -----------------------------------------
// YEAR LIST STYLES
// -----------------------------------------

.year-list {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  // margin-bottom: 5rem;
  margin-top: 1rem;
  @media #{$small-only} {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  @media #{$medium-up} {
    max-width: 70%;
  }
  @media #{$large-up} {
    grid-template-columns: repeat(3, 1fr);
  }

  a {
    border-top: 2px solid $border-color;
    color: lighten($body-color, 20%);
    display: flex;
    font-size: .75rem;
    font-weight: 600;
    justify-content: space-between;
    padding: .4rem 0;
    text-decoration: none;
    text-transform: uppercase;
    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
  span {
    @extend %code;
  }
}

.post__section {
  @media #{$small-only} {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

.post-section__title {
  align-items: center;
  display: flex;
  @extend %sans;
  font-size: .9rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  padding-top: 2rem;
  text-transform: uppercase;
}

.year__count {
  background: darken($light-bg-color, 1%);
  border-radius: $global-radius;
  color: lighten($body-color, 10%);
  @extend %code;
  font-size: .9em;
  font-weight: 400;
  line-height: 1;
  margin-left: .5rem;
  padding: .4rem .7rem;
  position: relative;
  top: 1px;
}

.archive__posts {
  margin-top: 1rem;
  @media #{$medium-up} {
    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid $border-color;
  }
  @media #{$large-up} {
    column-count: 3;
  }
  .post {
    font-size: .75rem;
    font-weight: 600;
    a {
      display: inline-block;
      text-decoration: none;
    }
    .post__date {
      color: lighten($body-color, 25%);
      display: block;
      font-size: .7rem;
      font-weight: 400;
    }
    + .post {
      margin-top: .9rem;
    }
  }
}

// Topics Page -------------------

.tag-list {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-height: 224px;
  overflow: hidden;
  position: relative;
  @media #{$small-only} {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  @media #{$medium-up} {
    grid-template-columns: repeat(3, 1fr);
  }
  @media #{$large-up} {
    grid-template-columns: repeat(4, 1fr);
  }
  &:after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, #FFF 100%, #FFF 100%) repeat-x scroll 0 0 transparent;
    bottom: 0;
    content: '';
    grid-column: 1 / -1;
    height: 50px;
    margin-top: -50px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  a {
    border-top: 2px solid $border-color;
    color: lighten($body-color, 20%);
    display: flex;
    font-size: .75rem;
    font-weight: 600;
    justify-content: space-between;
    padding: .4rem 0;
    text-decoration: none;
    text-transform: uppercase;
    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
  span {
    @extend %code;
  }
  &.js-is-open {
    max-height: none;
    overflow: auto;
    &:after {
      content: none;
    }
  }
}

#tag-list-toggle {
  @media #{$small-only} {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

.tag__section {
  padding: 3rem 0;
  position: relative;
  @media #{$small-only} {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  &:hover {
    .tag__return-home {
      opacity: 1;
    }
  }
  p {
    margin-top: .3rem;
    @media #{$medium-up} {
      line-height: 1.4;
      margin-bottom: 0;
    }
  }
  + .tag__section {
    border-top: 1px solid $border-color;
  }
}

.tag__name {
  align-items: center;
  display: flex;
  @extend %sans;
  font-size: .9rem;
  font-weight: 600;
  margin-top: 0;
  text-transform: uppercase;
}

.tag__count {
  background: darken($light-bg-color, 1%);
  border-radius: $global-radius;
  color: lighten($body-color, 10%);
  @extend %code;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  margin-left: .5rem;
  padding: .4rem .7rem;
  position: relative;
  top: -2px;
}

.topic-list {
  list-style-type: none;
  margin-top: 1.2rem;
  width: 100%;
  @media #{$medium-up} {
    column-count: 2;
    column-gap: 4rem;
  }
  li {
    display: block;
    font-size: .77rem;
    line-height: 1.5;
    margin-bottom: .4rem;
    margin-left: 0;
  }
  a {
    text-decoration: none;
  }
}

.tag__return-home {
  bottom: 10px;
  color: $body-color;
  font-size: .7rem;
  opacity: 0;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .2s ease-in-out;
  vertical-align: middle;
}

// -----------------------------------------
// AUTHOR PAGE
// -----------------------------------------

.author {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100px auto;
  margin-bottom: 3rem;
}

.author--single {
  align-items: center;
  .author__name {
    font-size: 1.4rem;
  }

  .author__title {
    color: lighten($body-color, 15%);
    @extend %sans;
    font-size: .9rem;
    margin-bottom: 1rem;
    margin-top: 0;
    text-transform: none;
    &:before {
      content: none;
    }
  }
}

.author-archive {
  list-style: none;
  margin-top: 1rem;

  li {
    + li {
      margin-top: 1rem;
    }
  }

  a {
    display: block;
    font-size: .8rem;
    font-weight: 600;
    line-height: 1.4;
    text-decoration: none;
  }

  .pubdate {
    color: lighten($body-color, 20%);
    display: block;
    font-size: .7rem;
    font-weight: normal;
  }
}
