// -------------------------------
// SIDEBAR
// -------------------------------

.sidebar {
  background-color: darken($secondary-color, 4%);
  bottom: 0;
  box-shadow: -10px 0 0 rgba(black, .1);
  height: 0;
  overflow: hidden;
  transition: height 300ms ease;
  z-index: 4;
  @media #{$large-up} {
    height: auto;
    overflow: auto;
    position: static;
  }
  &.js-menu-is-open {
    height: 196px;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  @media #{$large-up} {
    margin-top: 51.8px;
  }

  a {
    border-top: 1px solid lighten($secondary-color, 5%);
    color: lighten($secondary-color, 35%);
    display: block;
    font-size: .75rem;
    font-weight: 600;
    padding: 1rem 1.3rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: white;
    }
  }
}
